.listImg{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img{
    width:30vw;
    height:30vw;
    
}
.vdo{
    width:30vw;
    height:30vw;
}
.search{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin-bottom: 10vh;
    justify-content: center;
}
.center{
    display: grid;
       grid-template-rows: 2fr 1fr;
       text-align: center;
       align-items: center;
}
.header{
    margin-bottom: 30px;
}
.buttonNext{
  
   
    background-color: rgb(250, 206, 233);
    color: rgb(29, 27, 27);
    border: 1px solid black;
}
.centerButton{
    display:flex;
    align-items: center;
    justify-content: center;
}